In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
#do not print warnings
pd.options.mode.chained_assignment = None

In [6]:
reviews_pre = pd.read_csv("reviews_clean.csv")
reviews_id = pd.read_csv("review_select.csv")

reviews_pre['business_id']=reviews_id['business_id']
reviews_pre.to_csv('reviews_clean_wiz_id.csv',index=False)

In [7]:
reviews = pd.read_csv('reviews_clean_wiz_id.csv')

In [16]:
reviews.head()

,Unnamed: 0,text,stars,business_id
0,0,first admit not excite go la tavolta food snob...,4.0,eU_713ec6fTGNO4BegRaww
1,1,walk around friday afternoon sit table bar wal...,1.0,mRUVMJkUGxrByzMQ2MuOpA
2,2,not really find anything wrong place pastas pi...,5.0,YvrylyuWgbP90RgMqZQVnQ
3,3,great lunch today staff helpful assist selecti...,4.0,NyLYY8q1-H3hfsTwuwLPCg
4,4,good selection class beers mains twice first t...,3.0,y-Iw6dZflNix4BdwIyTNGA

In [11]:
biz_all=pd.read_csv('biz_fast_food_features.csv')

In [14]:
biz_owners=biz_all.loc[:,'bussiness_id']

In [182]:
#biz_owners

0        1Dfx3zM-rW4n-31KeC8sJg
1        fweCYi8FmbJXHCqLnwuk8w
2        1RHY4K3BD22FK7Cfftn8Mg
3        NDuUMJfrWk52RA-H-OtrpA
4        kANF0dbeoW34s2vwh6Umfw
5        qJeSjOMgWB3er3UXG33ZVw
6        bJP4l_BGq2CudEu0m-wNjg
7        WlArCYe6xCzOe5u2Lt1how
8        jScBTQtdAt-8RshaiBEHgw
9        jwHtNvHBPafiAwM92jM8yA
10       v7ZFEEqJBg_r8NCwHRP_2A
11       5WMIvoMx3l1vn1uJ3HZB6Q
12       T_tnCsUQmqTMEI3XxJAyOA
13       FDEm-c3NAXnTVtl-hgzAhA
14       y-1sMhUMubrHWdIW4FaE8w
15       rVBPQdeayMYht4Uv_FOLHg
16       CPgz4srKkE5u9aoBAOaQsA
17       d9ftOq9cPFsicPSasP-IRw
18       TTVwcuc1Nz4ZSZH4wnbxKQ
19       sRLczTc6OHuttVSanRfHaw
20       dUffgo9Lh_Vk9TLuFR5ywg
21       q4P3WHwC0lFafwvTlkKMIw
22       vg4ynLZ0yJ89pT4s_CEMzQ
23       e-9f6vasnWh3z0uOq287Aw
24       9uhXxFrTR58KVD5fq1ua3Q
25       Tuu_B0QGo7SQUuXW_Nd4hg
26       ItmLljzhwhuyyvekNs4Ymg
27       U1iF2RC18uBgBe01z5BMXw
28       El6Bum4I-0VWJRgzbtscJQ
29       QZ4GFIArBMGolsVi0XHgcA
                  ...
16511    Dm3FhqAGvW1HpHelydP-Ag
16512    HsS34pXt9SAmaRa2aByNpw
16513    4revUiH2pE65iffL13LNMQ
16514    03W4GFc3Ll01kxI7BPxRww
16515    V84XKSe9gMmky0sh1If_dA
16516    7w9GpK5BJZY94sbfK__oDw
16517    KkBVK02iqsPJTEotHhWo1g
16518    NClVosSyO7LJaQ2WYLLnYw
16519    8c2ObImjXJ9pW0hUccL35A
16520    NN7OUdRxgkoUvpI440UA7A
16521    Ce5Y_Xl_A-QCilf5_3mkSw
16522    7k_urmcvNGuNX8PQQ4H1QA
16523    RXWoXbo18akMt9tV4bLktA
16524    EsE8KTPqAJ2MjJdmuAifRw
16525    soQEl35sQuARBOlH1Y6MaQ
16526    3xI0ToitrAJkrUSH4gbmCA
16527    fLdLjrLfwWJ-hh4Uwz2zKA
16528    NPFsOePej-_kfNsDf-SjpQ
16529    P8uECqGqXWTwEndkh-6bQw
16530    _r-OvLO5wqncmsBCg3i0qw
16531    p5rpYtxS5xPQjt3MXYVEwA
16532    _T5qyfILFJOPJDB4BHDWTA
16533    I3dQmMkfqMsThMAuqIkooA
16534    3L4VPQXH3ni8IsuJLnd74g
16535    6KyDIOGT9EAzq1w4kb77ow
16536    HoWtPWPDWT8tkErlW4j-3A
16537    ckc3l8cSuggloG4NlquEFQ
16538    lq71ZTkANfb40sR0DAs6Rw
16539    JsRt9LPgv-7guVcY4u6OQA
16540    ghovD5ZTGDQ5Q2U4ERddWw
Name: bussiness_id, Length: 16541, dtype: object

In [64]:
def find_reviews(biz_id):
    reviews_spe = pd.DataFrame(columns=['Unnamed: 0', 'text', 'stars', 'business_id'])
    for i in range(reviews.shape[0]):
        id = reviews.loc[:,'business_id'][i]
        stars =reviews.loc[:,'stars'][i]
        if (not id==biz_id) or (stars==3) or (stars==4) or (stars==5):
            continue
        reviews_spe=reviews_spe.append(reviews.iloc[i,])
    return reviews_spe

In [165]:
def score_of_words(reviews,words):
    num_of_words=len(words)
    reviews_text=reviews.loc[:,"text"]
    reviews_text=pd.Series(reviews_text)
    scores=list()
    
    for j in range(num_of_words):
        score_of_one=list()
        for i in range(len(reviews_text)):
            score_of_one.append(list(reviews_text)[i].split().count(words[j])/len(list(reviews_text)[i].split()))  
        scores.append(sum(score_of_one)/len(score_of_one))
        
    return sum(scores)/len(scores)

In [169]:
time_words=["time","slow","wait"]
#score_of_words(reviews_spe,time_words)

0.005892255892255892

In [171]:
service_words=["rude","disappoint","unprofessional","understaffed","insolent","inattentive","disorganized","incompetent","disrespectful","unfriendly"]
#score_of_words(reviews_spe,service_words)

0.001111111111111111

In [178]:
food_words=["salty","greasy","oily","overcook","bland","overdo","vinegary","soggy","fatty","undercooked","oversauced","underseasoned","bland","dry"]
#score_of_words(reviews_spe,food_words)

0.00039682539682539677

In [179]:
facility_words=["toilet","restroom","bathroom","floor","machine","tissue","napkin"]
#score_of_words(reviews_spe,facility_words)

0.0

In [180]:
envir_words=["dirty","filthy","unclear","grimy","sticky","unwiped","messy","smelly"]
#score_of_words(reviews_spe,envir_words)

0.0009259259259259259

In [ ]:
att_time=list()
for i in range(len(biz_owners)):
    reviews_spe=find_reviews(biz_owners[i])
    att_time.append(score_of_words(reviews_spe,time_words))

In [ ]:
att_time